<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/admin-orders.css">
    <script src="js/admin.js" defer></script>
    <script src="js/header.js" defer></script>
    <title>Customer Orders</title>
</head>
<body>
    <%- include('header'); -%>
    <section class="orders-container">
        <h1>All Orders</h1>
        <div class="success-alert">
        </div>
             <!-- <p class="success">Ordered Placed</p> -->
            <table class="table">
                <thead>
                    <tr>
                        <th class="th">Orders</th>
                        <th class="th">Item</th>
                        <th>Address</th>
                        <th class="th">Phone</th>
                        <th class="th">Price</th>
                        <th class="th">Placed At</th>
                    </tr>
                </thead>
                <tbody>
                <%  if(orders.length) { %> 
                    
                        <%for(let i = 0; i < orders.length; i++) { %>
                            
                       
                        <tr>
                            <td>
                                <a href="#"><%= orders[i].order_id %></a>
                            </td>

                            <td>
                                <%= orders[i].total_price %>
                                <p><%= allItems[i].item_name %> - <span><%= allItems[i].qty %></span></p>
                            </td>

                            <td>
                                <%= orders[i].address %>
                            </td>
                            <td>
                                <%= orders[i].phone %>
                            </td>
                            <td>
                                <%= orders[i].total_price %>
                            </td>
                            <td class="time">
                                <%= moment(orders[i].created_at).format('h:mm:ss a, Do MMMM YYYY') %>
                            </td>
                        </tr>
                    <%}%>
                   
                <% } else {%>
                    <tr>
                        <td>No Orders</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
    </section>
    <%- include('footer'); -%>
</body>
</html>