<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/admin-orders.css">
    <script src="js/header.js" defer></script>
    <script src="js/admin-orders.js" defer></script>
    <title>Customer Orders</title>
</head>
<body>
    <%- include('header'); -%>
    <section class="orders-container">
        <h1>Customer Orders</h1>
        <div class="success-alert">
        </div>
        <table class="table">
        <thead>
        <tr>
            <th>Orders</th>
            <th>Item</th>
            <th>Shipping Address</th>
            <th>Email Address</th>
            <th>Phone</th>
            <th>Price</th>
            <th>Order Status</th>
            <th>Placed At</th>
        </tr>
        </thead>
        <tbody>
        <%  if(placedOrders.length) { %>
            <%for(let i = 0; i < placedOrders.length; i++) { %>
        <tr>
            <td>
                <a href="#"><%= placedOrders[i].order_id %></a>
            </td>
            <td>
                <p><%= placedOrders[i].item_name %> - <span><%= placedOrders[i].qty %></span></p>
            </td>
            <td>
                <%= placedOrders[i].address %>
            </td>
            <td>
                <%= placedOrders[i].email %>
            </td>
            <td>
                <%= placedOrders[i].phone %>
            </td>
            <td>
                <%= placedOrders[i].price %>
            </td>
            <td>
                <select class="order-status-options">
                    <option value="placed" <%= placedOrders[i].order_status === 'placed' ? 'selected' : ''%>>Placed</option>
                    <option value="confirmed" <%= placedOrders[i].order_status === 'confirmed' ? 'selected' : ''%>>Confirmed</option>
                    <option value="delivered" <%= placedOrders[i].order_status === 'delivered' ? 'selected' : ''%>>Delivered</option>
                </select>
            </td>
            <td> <%= moment(placedOrders[i].created_at).format('h:mm:ss a, Do MMMM YYYY') %> </td>
        </tr>
        <%}%>
        <% } else {%>
            <tr>
                <td>No Orders</td>
            </tr>
        <% } %>
        </tbody>
        </tr>
        
        </table>
    </section>
    <%- include('footer'); -%>
</body>
</html>