<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/cart.css">
    <script src="js/cart.js" defer></script>
    <title>My Bag</title>
</head>
<body>
  <%- include('header'); -%>

    <div id="container">
      <%if (session.cart) {%>
        <a href="/products " class="cont-shopping">Continue Shopping</a>
        <section class="cart-container">
          <div class="cart-product-area">
            <h1 class="cart-heading">My Bag</h1>
            <% for(let product of Object.values(session.cart.items)) {%>
            <div class="product-in-cart" id="<%= product.item.product.product_id%>">
              <div class="product-image-thumb">
                  <img src="assets/<%= product.item.product.image %>" width="120px" alt="">
              </div>
              <p class="product-name"><%= product.item.product.product_name %></p>
              <div class="product-info">
                <span class="price"><%= product.item.product.price * product.qty %></span>
                <div class="product-quantity">
                  <button class="add-btn">+</button>
                  <span class="counter-value"><%= product.qty %></span>
                  <button class="sub-btn">-</button>
                  <!-- <option class="" value="</option> -->
                  <!-- <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option> -->
                </div>
               <span class="remove">Remove</span>
            </div>
           </div>
           <% } %>
          </div>
          <div class="summary-area">
            <h2 class="summary-heading">Summary</h2>
            <div class="summary-container">
              <div class="subtotal-wrapper">
                <span class="item-subtotal">Item Subtotal: </span>
                <span class="subtotal-amount"><%= session.cart.totalPrice %></span>
              </div>
              <hr>
              <div class="total-wrapper">
                <span class="total">Total: </span>
                <span class="total-amount"><%= session.cart.totalPrice %></span>
              </div>
              <a href="#" class="check-button">Proceed to Checkout</a>
            </div>
          </div>
        </section>
        <% } else {%>
        <section class="empty-cart">
          <h1 class="empty-heading">Your bag is empty</h1>
          <div class="button">
              <button class="shop-button">Shop Now</button>
          </div>
        </section>
        <% } %>
    </div>
    <%- include('footer'); -%>
</body>