<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' localhost:5500">
    <link rel=icon href="assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/admin-panel.css">
    <script src="js/edit-product.js" defer></script>
    <script src="js/header.js" defer></script>
    <title>Admin Panel | Home A Heaven</title>
</head>
<body>
    <%- include('header') -%>
    <section class="section-container">
        <div id="adminPanelForm">
            <h1 class="edit-product-heading">Add Product</h1>
            <form>
                <p>
                    <label for="prod-name">Name</label>
                    <input type="text" name="prodName" id="prod-name" class="product-name">
                </p>
                <p>
                    <label for="prod-price">Price</label>
                    <input type="text" name="prodPrice" id="prod-price" class="product-price">
                </p>
                <p>
                    <label for="prod-image">Image</label>
                    <input type="file" name="prodImage" id="prod-image" class="product-image">
                </p>
                <p>
                    <label for="count-in-stock">Count in Stock</label>
                    <input type="text" name="prodInStock" id="count-in-stock" class="product-in-stock">
                </p>
                <p class="category">
                    <label for="prod-category">Category</label>
                    <input type="text" name="prodCategory" id="prod-category" class="product-category"> 
                    <span>Add Sub Category</span>
                    <div class="categories-container hide">
                        <% for(let i = 0; i < categories.length; i++) { %>
                            <p><input type="radio" name = "category" id="<%= i %>" value="<%= categories[i].category_name %>"><label for="<%= i %>"><%= categories[i].category_name %></label></p>
                        <% } %>
                    </div>
                        </p>
                <p>
                    <label for="prod-description">Description</label>
                    <textarea name="prodDescription" id="prod-description" class="product-description" rows="2" cols="42"></textarea>
                </p>
                    <!-- <label for="category-name">Category</label> -->
                    <!-- <input type="text" name="catName" id="category-name" class="category"> -->
                    <!-- <span class="category_added_message">Category Added</span> -->
                <!-- </p> -->
                <p><input type="submit" value="Add Product" id="update"></p>
            </form>
        </div>
    </section>
    <%- include('footer') -%>
</body>
</html>