<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="css/manage-sub-categories.css">
    <script src="js/manage-sub-categories.js" defer></script>
    <script src="js/header.js" defer></script>
    <title>Manage Product</title>
</head>
<body>
    <%- include('header'); -%>
    <section class="content-section">
        <section class="product-container">
            <h1>Manage Sub Categories</h1>
            <div class="container">
                <div class="button">
                    <a href="/adminPanel" class="add-product-button"> Add New Product 
                        <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                    </a>
                </div>
                    <div class="table-container table-responsive">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Sub Category Name</th>
                                    <th scope="col">Category Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                        <% for(let i = 0; i < subCategories.length; i++) { %> 
                            <tr>
                                <td>
                                    <%- subCategories[i].sub_cat_name %>
                                </td>
                                <td>
                                    <%- categoryArray[i].category_name %>
                                </td>
                                <td>
                                    <a><span class="edit-sub-category" data-subcategoryid-type="<%- subCategories[i].subCat_id %>"> Edit </span></a>
                                    <a><span class="delete-sub-category" data-subcategoryid-type="<%- subCategories[i].subCat_id %>" > Delete </span></a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </tr>
            </table>
        </div>
    </div>
        </section>
    </section>
    <!-- The Modal -->
    <div id="myModal" class="modal modal-body">
    <!-- Modal content -->
    <div class="modal-content container-fluid center">
            <span class="close">&times;</span>
            <section class="section-container ">
                <div id="editSubCategoryForm">
                    <h1 class="edit-product-heading">Edit Sub Category</h1>
                    <form class="edit-subcategory-form">
                        <p class="category">
                            <label for="prod-sub-category">Sub Category</label>
                            <input type="text" name="prodSubCategory" id="prod-sub-category" class="product-sub-category"> 
                        </p>
                        <p>
                            <label for="prod-image">Image</label>
                            <input type="file" name="prodImage" id="prod-image" class="product-image">
                        </p>
                        <p><input type="submit" class="submit-button" value="Add Category" id="update"></p>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <!-- modal end -->
</body>
</html>