<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="stylesheet" href="css/manage-products.css">
    <script src="js/manage-products.js" defer></script>
    <script src="js/header.js" defer></script>
    <title>Products</title>
</head>
<body>
    <%- include('header'); -%>
    <section class="content-section">
        <section class="left-panel">
            <h2>Dashboard</h2>
            <li><a href="/manage-product">Manage Products</a></li>
            <li><a href="/adminOrders">Customer Orders</a></li>
            <!-- <li><a href="#">Address Book</a></li> -->
        </section>
        <section class="product-container">
            <h1>Products</h1>
            <div class="button">
                <a href="/adminPanel" class="shop-button">Add product</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Sub Category</th>
                        <th>Price (Pkr)</th>
                        <th>Quantity</th>
                        <th>Discount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < allProducts.length; i++) { %> 
                        <tr>
                            <td>
                                <img src=<%- `/assets/uploads/${allProducts[i].image}` %>>
                            </td>
                            <td>
                                <%- allProducts[i].product_name %>
                            </td>
                            <td>
                                <%- allProducts[i].category_name %>
                            </td>
                            <td>
                                <%- allProducts[i].sub_cat_name %>
                            </td>
                            <td>
                                <%- allProducts[i].price %>
                            </td>
                            <td>
                                <%- allProducts[i].inStock %>
                            </td>
                            <td>
                                <%- allProducts[i].discount %>
                            </td>
                            <td>
                                <a><span class="edit-product" data-productid-type="<%- allProducts[i].product_id %>" data-subcatid-type="<%- allProducts[i].subcat_id %>"> Edit </span></a>
                                <span class="delete-product" data-productid-type="<%- allProducts[i].product_id %>" > Delete </span>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </tr>
            </table>
        </section>
    </section>
    <!-- The Modal -->
    <div id="myModal" class="modal">
    <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <section class="section-container">
                <div id="editProductForm">
                    <h1 class="edit-product-heading">Edit Product</h1>
                    <form class="edit-product-form">
                        <p>
                            <label for="prod-name">Name</label>
                            <input type="text" name="prodName" id="prod-name" class="product-name">
                        </p>
                        <p>
                            <label for="prod-price">Price</label>
                            <input type="text" name="prodPrice" id="prod-price" class="product-price">
                        </p>
                        <p>
                            <label for="prod-image">Image</label>
                            <input type="file" name="prodImage" id="prod-image" class="product-image">
                        </p>
                        <p>
                            <label for="count-in-stock">Count in Stock</label>
                            <input type="text" name="prodInStock" id="count-in-stock" class="product-in-stock">
                        </p>
                        <p class="category">
                            <label for="prod-category">Category</label>
                            <input type="text" name="prodCategory" id="prod-category" class="product-category"> 
                        </p>
                        <p class="sub-category">
                            <label for="prod-sub-category">Sub Category</label>
                            <input type="text" name="prodSubCategory" id="prod-sub-category" class="product-sub-category"> 
                        </p>
                        <p>
                            <label for="prod-description">Description</label>
                            <textarea name="prodDescription" id="prod-description" class="product-description" rows="2" cols="42"></textarea>
                        </p>
                        <p><input type="submit" value="Add Product" id="update"></p>
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>
</html>