<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="assets/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="stylesheet" href="/css/product.css">
    <script src="/js/products.js" defer></script>
    <script src="/js/header.js" defer></script>
    <title>Search | Home A Heaven</title>
</head>
<body>
    <%- include('header') -%>
    <section class="hero-section">
        <h1 class="category-name" style="display: none;">Categor Name</h1>
        <h2 class="search-message">SEARCH RESULTS FOR "<%= product %>"</h2>
    </section>
    <!-- <p class="search-fail" style="text-align: center;"></p> -->
    <section class="product-items-section">
        <!-- <div class="filter-sort-container">
            <div class="filter">

            </div>
        </div> -->
         <% for(let i = 0; i < products.length; i++) { %>
        <div class="products">
            <a href="/addInCart" data-product="<%= JSON.stringify(products[i]) %>" class="product-image add-to-cart <%= products[i].price %>"><img src=<%- `/assets/uploads/${products[i].image}` %> alt="product"></a>
            <a href="/addInCart" data-product="<%= JSON.stringify(products[i]) %>" class="add-to-cart <%= products[i].price %>"><h2><%- products[i].product_name %></h2></a>
            <a href="/addInCart" data-product="<%= JSON.stringify(products[i]) %>" class="add-to-cart <%= products[i].price %>"><p class="product-price"><%- products[i].price %></p></a>
        </div>
         <% } %>

    </section>
    <%- include('footer'); -%>
</body>
</html>